<div class="container login-box">
  <div class="login-header">Login</div>
  <form class="text-grey" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="emailId">Email</label>
      <br>
      <input type="email" formControlName="emailId" name="emailId" class="form-control" id="emailId">
      <span class="help-block"
        *ngIf="!loginForm.get('emailId').valid && loginForm.get('emailId').touched">Please provide a valid email</span>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <br>
      <input type="password" formControlName="password" name="password" class="form-control" id="password">
    </div>

    <a class="registration-link" [routerLink]="['registration']" >not a member?</a><br>

    <button type="submit" [disabled]="!loginForm.valid" class="btn btn-success">Login</button>

  </form>
</div>
