.row{
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.bodyContent{
  padding-left: 5%;
  padding-right: 5%;
  background-color: white;
}

.sectionTitle{
  padding-left: 6%;
  padding-top: 1%;
  background-color: white;
}

.marginClass{
  background-color: white;
  height: 25px;
}

#loading-div{
  position: absolute;
  left: 38%;
  top: 40%;
}

@media only screen and (min-width: 510px) {
  #loading-div{
    position: absolute;
    left: 45%;
    top: 40%;
  }
}
