.videoFrame{
  width: 100%;
  height: 220px;
  padding-left: 5%;
  padding-top: 5%;
  padding-right: 5%;
  overflow: hidden;
  cursor: pointer;
}

.title{
  font-size: 0.7rem;
  font-weight: bold;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 3%;
  cursor: pointer;
}

.author{
  font-size: 0.6rem;
  padding: 2%;
}

.views{
  font-size: 0.6rem;
  padding: 2%;
  text-align: right;
}
